body {
    margin: 0;
}


.header-container {
    background: #1F2937;
    width: auto;
    height: 450px;
}

.header, .hero-container {
    font-size: 24px;
    color: #F9FAF8;
    margin: 75px;
    padding: 16px;
}

ul {
    list-style-type: none;
}

.hero-container {
    display: flex;
    flex-direction: row;
    font-size: 48px;
    font-weight: 700;
    margin-top: 40px;
    width: auto;
}

.hero-left, .hero-sub {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-bottom: 8px;
    padding-right: 20px;
}
.hero-sub {
    font-size: 18px;
    font-weight: 400;
    color: #E5e7EB;
}

.hero-sign-up {
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: white;
    padding: 8px 14px;
    width: 100px;
    font-weight: 700;
}

.hero-right {
    display: flex;
    justify-content: right;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

.left {
    display: flex;
    justify-content: left;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5e7EB;
}

.right {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 18px;
    padding-left: 50px;
}


.random {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 30px;
}

.info-container {
    padding-bottom: 200px;
    background-color: white;
}

.info-img {
    display: flex;
    justify-content: space-around;
    margin-left: 42px;
    margin-right: 42px;
    padding: 16px;
    font-size: 14px;
    color: black;
    text-align: center;
    
}

.img-customize {

    border-radius: 10px;
    width: 150px;
    height: 150px;
}


.qoute-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    width: auto;
    height: 350px;
}

.qoute, .qouter {

    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1F2937;
    padding: 16px;
    margin-left: 60px;
    margin-right: 60px;
    font-style: italic;
}

.quoter {
    display: flex;
    justify-content: right;
    padding-right: 140px;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
}

.call-to-container {
    background-color: white;
    width: auto;
    height: 190px;
}

.blue-box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 120px;
    margin: 75px;
    background-color: #3882F6;
    border-radius: 10px;

}

.action-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 75px;
}

.action-button {
    justify-content: right;
    margin-right: 85px;
    border-color: white;
    border-radius: 4px;
    background: #3882F6;
    color: white;
    padding: 8px 14px;
    width: 100px;
    font-weight: 700;
}

.action-main-text, .action-sub {
    color: white;
    font-size: 18px;
    font-weight: 900;
}

.action-sub {
    font-size: 12px;
    font-weight: 600;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 80px;
    background: #1F2937;
    
}

.copyright {
    color:white;
}
